.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  opacity: 0;
  animation: fadeInRight 0.5s linear forwards;
  animation-delay: .5s;

  @include media-up(lg) {
    flex-flow: row nowrap;
  }

  &-collapse {
    display: flex;

    @include media-down(md) {
      flex-basis: 100%;
      align-items: center;
    }
  }

  &-menu {
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;
    transition: all 1s;

    @include media-up(md) {
      flex-direction: row;
    }

    @include media-down(md) {
      height: 0px;
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    &.active {
      @include media-down(md) {
        display: flex;
        flex-direction: column;
      }
    }

    &-item {
      display: block;

      @include media-down(md) {
        border-top: 1px solid $primary;
      }

      a {
        padding: 38px 30px;
        display: block;
        color: $black;
        font-weight: 700;
        transition: .2s;

        @include media-down(md) {
          padding: 15px;
        }

        &.router-link-exact-active {
          color: $primary;
        }
        &:hover {
          color: $primary;
          @include media-down(md) {
            background: rgba(0, 0, 0, .1);
            color: $primary;
          }
        }
        &.active {
          @include media-down(sm) {
            color: $black;
          }
        }
      }
    }
    &-icon {
      cursor: pointer;
      position: relative;
      margin: auto;
      width: 32px;
      height: 30px;
      padding: map-get($spacers, 4);
      transform: translate(0%, 0%);
      z-index: 1040;
      margin-right: 20px;
  
      @include media-up(lg) {
        display: none;
      }
  
      &.active span {
        background: transparent;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0);
  
        &::before {
          top: 0;
          transform: rotate(45deg);
          transition-delay: 0s, 0.5s;
        }
  
        &::after {
          top: 0;
          transform: rotate(-45deg);
          transition-delay: 0s, 0.5s;
        }
      }
  
      > span {
        position: absolute;
        width: 30px;
        height: 4px;
        background: $primary;
  
        display: block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.2s;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        cursor: pointer;
  
        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          background: $primary;
          display: block;
          top: -10px;
          left: 0;
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
          transition-duration: 0.5s, 0.5s;
        }
  
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          background: $primary;
          display: block;
          top: 10px;
          left: 0;
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
          transition-duration: 0.5s, 0.5s;
        }
      }
    }
  }
}
